<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8">
		<title>App Spring MVC test app</title>
		
		<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/"
			th:href="@{webjars/bootstrap/3.3.5/css/bootstrap.min.css}">
		<script scr="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
			th:href="@{webjars/jquery/2.1.4/jquery.min.js}"></script>
		
		<link href="../static/css/spring-core.css"
			th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
			

	</head>
	<body>
		<h1>First Title</h1>
		<h2>Test Test</h2>
		

	</body>
</html>